.fixed-header
{
 position: fixed;
 background-color: white;
top: 0;
left:0;
right: 0;
}

.header 
{
    font-size: 0;
    height: 45px;
    margin: 40x 20px 0px 20px; 
    font-family: sans-serif;
  }


 
  
  .li 
  {
   display: inline;
  }
  

  .header > *
  {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }
  
.logo
{
    width: 45%;
}

.navbar
{
    width: 70%;
    text-align: center;
    color: #025157;

}

.item
  {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }


.actions
{
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
 
}

.actions >*
{
    margin: 10px 10px 10px 10px;
}

.actions a {
    color: #67b54b;
  }



.btn1
{
    color: #fff;
    background-color:#025157;
    border: none;
    border-radius: 5px;
    padding: 14px 12px 14px 12px;

}

.promocion
{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
 
}

.videox
{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anunciox
{
  flex: 1;
}

.textito
{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #025157;
  font-size: 40px;
  line-height: 48px;
}

.colorparrafo
{
  color: #343434;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.anunciox > form
{
  display: flex;
}

.anunciox > form p
{
  color: #025157;
  margin-right: 18px;
}