/*bootrstrap*/

.carousel-inner
{
  max-height: 100%;
  height: 450px;
}




body 
{
  background-color: #ffffaf;
}

h1 {
  color: #46484c;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

.fixed-header {
  position: fixed;
  background-color: white;
  top: 0;
  left:0;
  right: 0;
  z-index: 1030;
}

main {
  margin-top: 285px;
  text-align: center;
}

.header {

  font-size: 0;
  height: 70px;
  margin: 40x 20px 0px 20px; 
  font-family: 'Alegreya', sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: 'Alegreya', sans-serif;
}

  .li 
  {
   display: inline;
  } 

.logo
{
    width: 15%;
}

.logo > img
{
  height: 100%;
}

/*
.navbar
{
    width: 70%;
    text-align: center;
    color: #025157;

}
*/
.item
  {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }


.actions
{
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.actions >*
{
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
  }

.actions button
{
  color: #fff;
  background-color:#67b54b;
  border: none;
  border-radius: 5px;
  padding: 14px 12px 14px 12px;
  font-family: 'Alegreya', sans-serif;
}


.promocion
{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.videox
{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videox img
{
 width: 120px;
 margin-top: 10px;
}

.anunciox
{
  margin-left: 20px;
}

.anunciox h3
{
  font-family: 'Alegreya', sans-serif;
  color: #025157;
  font-size: 40px;
  line-height: 48px;
}

.anunciox > p
{
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.anunciox > form
{
  display: flex;
}

.anunciox > form p
{
  color: #025157;
  margin-right: 18px;
}


.sectionew
{
  background-color: #a1d683;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 5% 10%;
}

.sectionew >*
{
  font-family: 'Alegreya', sans-serif;
}

.sectionew .eltextonew
{
  flex: 2;
}

.sectionew .eltextonew h2
{
  color: #025157;
}


.sectionew .eltextonew p
{
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 15px;

}

.sectionew .eltextonew button
{
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.figurah
{
  margin-top: 32px;
  margin: 0 0 1rem;
}
.sectionew .eltextonew img
{
  width: 500px;
  max-width: 100%;
}


.sectionew .elcarruselnew
{
  flex:1;
  
}



.elcarruselnew
{
  position: relative;
  z-index: 1;
 
}

.sectionew .elcarruselnew .card
{
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.card
{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);

  
}

.sectionew .elcarruselnew .card .card-media
{
  position: relative;
 
  
}

.sectionew .elcarruselnew .card .card-media figure {
  margin-top: 0;
  margin: 0 0 1rem;
  
}


.sectionew .elcarruselnew .card .card-media img
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  
  vertical-align: middle;
  border-style: none;
  
}

.sectionew .elcarruselnew .card .card-media .loguito {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionew .elcarruselnew  .card .card-media .loguito img
{
  max-width: 75%;
}


.sectionew .elcarruselnew .card .card-body, .sectionew .elcarruselnew .card .card-footer {
  padding: 25px;
}

.sectionew .elcarruselnew .card-body
{
  flex: 1 1 auto;
  min-height: 1px;
}

.sectionew .elcarruselnew .card .card-body h4
{
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sectionew .elcarruselnew .card .card-body h3
{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.sectionew .elcarruselnew .card .card-body .secciongris
{
  display: flex;
  align-items: center;
  color: #828282;
}

.sectionew .elcarruselnew .card .card-body .secciongris img
{
  width: 26px;
  margin-right: 20px;
}

.sectionew .elcarruselnew .card .card-body .secciongris p
{
  margin-top: 0;
  color: #8b8b8bcc;
}




.sectionew .elcarruselnew .card .card-footer
{
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}


.sectionew .elcarruselnew .card .card-footer button
{
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}

.features
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
  grid-template: repeat(3,330px)/repeat(2,1fr);
  padding: 5%;
  height: 660px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #025157;
}

.features .feature-item
{
  background-color: #fff;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-item .feature-content
{
  padding: 30px 20px 40px 40px;
  flex: 2;
}


.features .feature-item .feature-content >*
{
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-item .feature-content img
{
  width: 50px;
}

.features .feature-item .feature-content h3
{
 font-size: 24px;
 color: #343434;
 font-weight: 400;
}

.features .feature-item .feature-content p
{
font-size: 16px;
color: #7e7e7e;
font-weight: 400px;
}

.features .feature-item .feature-content a
{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-item .feature-image
{
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-item .feature-image figure,
.features .feature-item .feature-image img
{
  margin-top: 0;
  height: 100%;
}  


.howdoesitwork
{
  text-align: center;
  background-color: #fffbf7;
  padding: 5% 10%;
}
.howdoesitwork .titulo
{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  margin-bottom: 8px;
}

.howdoesitwork .descripcion
{
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.howdoesitwork .descripcion a
{
  color: #67b54b;
  text-decoration: none;
}

.howdoesitwork button
{
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
}

.howdoesitwork .gridzai
{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.howdoesitwork .gridzai .laimagenytexto
{
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.howdoesitwork .gridzai .laimagenytexto .imagenc
{
  position: relative;
  height: 350px;
}


.howdoesitwork .gridzai .laimagenytexto .imagenc .imagencarac
{
  width: 100%;
  height: 100%;
}

.howdoesitwork .gridzai .laimagenytexto .imagenc .iconocarac
{
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.howdoesitwork .gridzai .laimagenytexto .textoc
{
  padding: 25px;
}

.howdoesitwork .gridzai .laimagenytexto .textoc h3
{
  font-size: 30px;
  line-height: 36px;
  font-family: 'Alegreya', sans-serif;
  color: #025157;
  font-weight: 400;
  text-align: center;
}


.howdoesitwork .gridzai .laimagenytexto .textoc p
{
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 16px;
  font-family: 'Alegreya', sans-serif;
}

.howdoesitwork .gridzai .laimagenytexto .textoc a
{
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Alegreya', sans-serif;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /*.navbar, .actions {
    display: none;
  }*/

  main {
    margin-top: 130px;
  }

  h1 {
    font-size: 30px;
  }
  
  .banner
  {
    width: 100%;
  }

  .promocion
  {
    flex-direction: column;
    max-width: 90%;
  }

.anunciox > form
{
  flex-direction: column;
}

.anunciox >form >input
{
  width: 90%;
}

.anunciox >form >button
{
  width: 92%;
}


  .videox > video
  {
    width: 100%;
  }

  .anunciox
  {
    margin-top: 10px;
  }

  .anunciox >h3
  {
  font-size: 25px;
  line-height: 1.2;
  }


  .features 
  {
   grid-template: repeat(4,1fr)/1fr;
   padding-left: 0;
   padding-right: 0;
  }

  .feature-image
  {
    display: none;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) 
{
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) 
{
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) 
{
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) 
{

}