.container
{
    display: flex;
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;

     flex-wrap: wrap;
     flex-wrap: nowrap;
}

.container > .item
{
    background-color: darkkhaki;
    width: 30%;
    height: 30px;
}

.main
{
    display: flex;
    width: 500px;
}

.main div:nth-of-type(1)
{
    flex-grow: 1;
}


.item-1 {flex-basis: 100px; flex-grow:1;}
.item-2 {flex-basis: 100px; flex-grow:1;}
.item-3 {flex-basis: 100px; flex-grow:1;}
.item-4 {flex-basis: 100px; flex-grow:1;}